<div class="panel panel-primary" *ngIf="product">
  <div class="panel-heading">
    {{pageTitle + ': ' + product.productName}}
  </div>
  <div class="panel-body">
    <div id="product-info">
      <div>
        <span>Product Code: {{product.productCode | lowercase | convertToSpaces: '-'}}</span>
      </div>
      <div>
        <span>Release Date: {{product.releaseDate}}</span>
      </div>
      <div>
        <span>Description: {{product.description}}</span>
      </div>
      <div>
        <span>Product Price: {{product.price | currency:'USD':true:'1.2-2'}}</span>
      </div>
      <div>
        <span>Rating: <pm-star [rating]='product.starRating'></pm-star></span>
      </div>
    </div> 
    <div id='product-image' class='float-right'>
        <img  
            [src]='product.imageUrl'
            [title]='product.name'/>
    </div>               
  </div>
  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width: 80px'>
      <i class='glyphicon glyphicon-chevron-left'></i>Back
    </a>
  </div>
</div>
